.main-screen-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.content-area {
    display: flex;
    flex: 1;
    background-color: transparent;
}

.left-panel {
    border: solid;
    width: 75%;
}

.right-panel {
    margin-left: 15px;
    border: dotted;
    background-color: white;
    width: 25%;
}

.main-editor {
    height: 100%;
}

.draggable-left {
  background-color: white;
  position: relative;
  width: 100px;
  flex-direction: column;
  padding-right: 7px;
}

.draggable-right {
  background-color: #f6f6f6;
  position: relative;
  flex-direction: column;
}
