.progress-panel .updates {
  background-color: #fff;
  overflow-y: scroll;
  width: 100%;
  flex-grow: 1;
  height: 0;
}

.progress-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}