h1 {
  font-size: 30px;
  color: black;
}

body {
  text-align: center;
  margin: auto;
}


.flex-container {
  display: flex;
  background-color: lightgray;
  width: 500px;
  height: 1000px;
  text-align: left;
  

}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  width: 500px;  /* Or whatever */
  height: 937px; /* Or whatever */
  text-align: left;

}